@media only screen and (min-width:320px)
	and (max-width:768px){
body {
    overflow-x: hidden;
}	    
section.mob-header {
    display: block;
    background:#1C2335;
    padding: 0.5rem 0;
}
.mobile-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.mobile-logo2 {
    width: 40%;
}
.mobile-logo1 {
    width: 20%;
}
.mobile-list ul li a {
    text-decoration: none;
    line-height: 3;
    color:#EBBFA2;
    align-items: center;
    display: flex;
}
.mobile-list ul li{
  list-style:none;
}
.mobile-list ul li a img {
    width: 30px;
}
.mob-menu i {
    color:#EBBFA2;
    font-size:2rem;
}
.mobile-list {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.mobile-list.show {
    height: 58vh;
    padding: 2rem 0 0 0.5rem;
    transition: all 0.3s ease-in;
}
i.fa-solid.fa-xmark {
    display: none;
}
.mob-menu.active i.fa-solid.fa-xmark {
    display: block!important;
}
.mob-menu.active i.fa-solid.fa-bars{
display: none!important;
}
 i.fa-solid.fa-bars{
display:block;
}
.slider-head {
    display: block;
    background: none!important;
}
.left-section {
    display: none!important;
}
.sliders-home {
    position: relative;
    width: 100%!important;
}
.slider-downarrow {
    position: absolute;
    left: 40%!important;
}
img.desktop{
    display:none!important;
}
img.mobile{
    display:block!important;
}
.mobile-header-main{
    display:block;
}
.header-main{
    display:none;
}
.log-box1 {
    width: 60%;
    padding-right: 3rem;
}
.header-form{
    display:none;
}
.a-flex {
    display: block;
}
section.overview {
    padding-top: 10rem;
    padding-bottom:0;
}
.why-pravesha-img-wrapper {
    position: absolute;
    z-index: -1;
    top:-9rem;
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
.why-pravesha-img-wrapper img{
    width:40%;
}
.over-left {
    position: relative;
    width: 100%;
}
.over-right {
    position: relative;
    width: 100%;
    padding: 3rem 0;
}
.inner-container {
    width: 100%;
    margin: 0 auto;
    padding:2rem;
}
.inner-section {
    display: block;
}
.box2, .box1, .box3,.box4 {
    /*border-left: 1px solid #EBBFA2;*/
    border-right:none;
    padding-right: 0;
}
.box2, .box3,.box4{
  margin-top: 3rem;   
}
.amenities-left {
    width: 100%;
}
.amenities-right {
    padding: 0;
    width: 100%;
}
.amenities-wrapper.a-flex {
    display: flex;
}
.amenities-left h3{
    font-size:2rem;
}
.about-left {
    width: 100%;
    padding:0;
}
.about-right {
    width: 100%;
    padding-top:2rem;
}
.about-left h3{
    font-size:1.5rem!important;
}
section#mobile {
    display: block;
    position: relative;
}
img#mobile-car {
    position: absolute;
    left: 8.5rem!important;
    width: 25%;
    top: 20rem;
    z-index: 99;
}
section#location-adv .about-left{
    width:100%;
}
.specification{
    display:block;
}
.specification-left, .specification-right{
    width:100%;
    padding:0!important;
}
.about-divider-main{
    margin:1rem 0!important;
}
.divider-container img{
    position:absolute;
    width:35%;
    left:11rem;
    top:0;
}
.specific{
    position:absolute;
    transform:rotate(-60deg);
    top:12rem;
    right:0;
    z-index:-1;
    width:100%;
}
.specific img{
    width:30%;
}
section#contact{
    padding: 7rem 0 2rem 0;
}
.contact-right-container{
    display:block;
    width:100%;
}
.contact-right-container{
    margin:0;
}
.contact-1{
    width:100%;
}
.contact-2{
    width:100%;
    margin-top: 21px;
        border-radius: 13px;
}
.contact-right-box form input, textarea{
    width: 100%;
    margin-top: 1rem !important;
    margin: 0;
}
form.footer-form input:nth-child(1) {
    border-left: 1px solid black;
}
form.footer-form input:nth-child(2) {
    border-left: 1px solid black;
}
form.footer-form input:nth-child(3) {
    border-left: 1px solid black;
}
/*form.footer-form textarea {*/
/*    border-left: 1px solid black;*/
/*}*/
.footer{
    display:block;
}
.footer1, .footer2, .footer3{
    width:100%;
}
.footer3{
    margin-top:0!important;
}
.footer2 h3 {
    padding-bottom:0.4rem;
}
.amenities-right span {
    font-size: 1rem;
    width: 45%;
    text-align: center;
}
.amenities-innerleft img {
    width: 40%;
}
.amenities-innerbox img {
    position:relative;
    left:0;
}
.plans ul li {
    font-size: 1rem;
}
ul.type-tabs {
    padding-top: 0;
}
.inner-slider.s-container.type-c, .inner-slider.s-container.type-d, .inner-slider.s-container.type-b, .inner-slider.s-container.type-a {
    width: 100%;
}
.inner-sliders i.bi.bi-chevron-compact-left.slick-arrow {
    position: absolute;
    left: 0;
    top: 37%;
    font-size: 0.8rem;
}
.inner-sliders i.bi.bi-chevron-compact-right.slick-arrow {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 37%;
    font-size: 0.8rem;
}
.east, .west {
    display: block;
}
.clubhouse .amenities-box.amenities-box2 .amenities-innerbox:nth-child(2) {
    padding-top: 2.7rem!important;
}
.clubhouse .amenities-box.amenities-box2 .amenities-innerbox:nth-child(3) {
    padding-top: 4.2rem!important;
}
.clubhouse .amenities-box.amenities-box2 .amenities-innerbox:nth-child(4) {
    padding-top: 1.5rem!important;
}
.clubhouse .amenities-box.amenities-box2 .amenities-innerbox:nth-child(5) {
    padding-top: 2.8rem!important;
}
.clubhouse .amenities-box.amenities-box2 .amenities-innerbox:nth-child(6) {
    padding-top: 1.5rem!important;
}

.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(2) {
    padding-top: 1.5rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(3) {
    padding-top: 0.2rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(4) {
    padding-top: 0.5rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(5) {
    padding-top: 0.8rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(6) {
    padding-top: 1.5rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(7) {
    padding-top: 0.2rem!important;
}
.outdoor .amenities-box.amenities-box2 .amenities-innerbox:nth-child(8) {
    padding-top: 0.2rem!important;
}
}
.footer-band {
    display: none;
}
  
 /*Pixel7*/
 
@media only screen 
  and (min-device-width:200px) 
  and (max-device-width: 1080px) 
 {
         img#mobile-car {
        position: absolute;
        left: 9.5rem!important;
    } 
  }
 
/* For specific Pixel 7 adjustments */
@media only screen and (min-device-width: 853px) and (max-device-width: 1280px) {
    img#mobile-car {
        position: absolute;
        left: 9.5rem !important;
    }
}

/* For specific Pixel 7 adjustments */
@media only screen and (min-device-width: 853px) and (max-device-width: 1280px) {
    img#mobile-car {
        position: absolute;
        left: 9.5rem !important;
    }
}

@media only screen and (min-width:320px)
	and (max-width:768px){
	    
	    .footer-band {
    display: block;
        position: fixed;
        bottom: 16px;
        z-index: 999;
        padding: 5px 0px;
        width: 88%;
        margin: 0 18px;
        background: #B88D75;
        border-radius: 10px;
}
.footer-box {
    text-align: center;
    width: 33.33%;
    float: left;
    
}
.footer-box i, .txt-icon {
    color:black;
    font-size: 12px;
}
.footer-band a {
    text-decoration: none; /* Remove underline from links */
}

.footer-band a:hover {
    text-decoration: none; /* Ensure underline doesn't appear on hover */
}
	}

